.wrapper
  height: 200px
  line-height: 200px
  border-bottom: 1px solid $grey

  @media (max-width: $breakpoint-sm)
    height: 70px
    line-height: 70px


.logo-wrapper
  text-align: center

.logo
  display: inline-block
  vertical-align: middle
  max-width: 100%
  max-height: 100%
