.w.partners-wrapper
  .c.c3.partners-logo-wrapper
    img.partners-logo(src='modules/partners/logo-4.png')
  .c.c3.partners-logo-wrapper
    img.partners-logo(src='modules/partners/logo-3.png')
  .c.c3.partners-logo-wrapper
    img.partners-logo(src='modules/partners/logo-2.png')
  .c.c3.partners-logo-wrapper
    img.partners-logo(src='modules/partners/logo-1.png')
