extends ../../modules/layout/layout

block body
  include ../../modules/partners/partners
  include ../../modules/products/products
  include ../../modules/instagram/instagram
  include ../../modules/footer/footer