.products-title Недавнее из Instagram
.w
  each val in [1, 2, 3, 4]
    .c.c3: a.products-item
      .products-image-wrapper
        img.products-image(src='modules/products/product-' + val + '.jpg')
        .products-overlay Заказать товар
      .products-name Джинсы Belvest origins
      .products-subtitle Р 48, в наличии