.header-header
  .w.header-w
    .c.c5.header-content
      img.header-logo(src='modules/header/sprite-logo.svg' alt='Brand Boutique')
      .header-text Итальянские, английские и австралийские<br>брендовые вещи