.header
  background: url(modules/header/bg.jpg) no-repeat 40% 0
  background-size: cover
  height: 100%
  max-height: 850px

  @media (max-width: $breakpoint-sm)
    background-image: url(modules/header/bg-sm.jpg)

.w
  position: relative
  height: 100%

.content
  text-align: center
  text-transform: uppercase
  position: absolute
  top: 50%
  margin-top: -50px
  color: #353142

.logo
  display: block
  margin: 0 auto
  max-width: 100%
  margin-bottom: em(1)

.text
  font-size: 0.8em
