.wrapper
  background-color: $grey
  text-align: center

  @media (max-width: $breakpoint-sm)
    line-height: 1.2
    height: auto

.w
  padding: em(2) 0

.c
  vertical-align: middle
  line-height: $line-height

.visual
  font-weight: 300
  text-transform: uppercase

.address
  font-size: .9em

.phone
  font-weight: bold
  white-space: nowrap