.footer-wrapper
  .footer-w: .w
    .c.c2.footer-c
      img.footer-logo(src='modules/header/sprite-logo.svg' alt='Brand Boutique')
    .c.c3.footer-c
      .footer-visual visual showroom
    .c.c3.footer-c
      .footer-address г. Санкт-Петербург, ул. Планерная, д.4,/.2
    .c.c2.footer-c
      .footer-phone 8 (911) 742-43-32
    .c.c2.footer-c
      .footer-phone 8 (911) 742-43-32
